#!/usr/bin/env -S nft --file
# {{ ansible_managed }}
# Inpired by:
#   - https://wiki.nftables.org/wiki-nftables/index.php/Simple_ruleset_for_a_server
#   - https://doc.huc.fr.eu.org/fr/sec/firewall/linux-firewall-icmpv6/
#   - https://pablotron.org/articles/nftables-examples/

flush ruleset

table inet firewall {
    chain input {
        type filter hook input priority filter; policy drop

        ct state vmap { established : accept, related : drop, invalid : drop }
        iif lo accept

        meta protocol vmap { ip : jump input_ipv4, ip6 : jump input_ipv6 }

        log prefix "[nftables] Input Denied: " counter drop
    }

    chain input_ipv4 {
        iif != lo ip daddr 127.0.0.1/8 counter drop comment "drop connections to loopback not coming from loopback"
        ip saddr @LANv4 ip daddr 224.0.0.251 udp dport 5353 counter accept comment "Accept mDNS on local networks"
    }

    chain input_ipv6 {
        iif != lo ip6 daddr ::1/128 counter drop comment "drop connections to loopback not coming from loopback"
        icmpv6 type { nd-neighbor-solicit, nd-router-advert, nd-neighbor-advert } accept
        ip6 saddr fe80::/10 udp sport 547 udp dport 546 accept comment "Accept DHCPv6 replies from IPv6 link-local addresses"
        ip6 saddr fe80::/10 ip6 daddr ff02::fb udp dport 5353 accept comment "Accept mDNS"
    }


    chain forward {
        type filter hook forward priority security; policy drop

        meta mark 42 accept
        log prefix "[nftables] Forward Denied: " counter
    }


    chain output {
        type filter hook output priority filter; policy drop

        oif lo accept

        meta l4proto icmp accept
        meta l4proto icmpv6 accept

        meta l4proto . th dport @output_protocol_dport_authorized accept
        udp sport 123 udp dport 123 counter accept comment "accept NTP"
        ip6 daddr ff02::1:2 udp sport 546 udp dport 547 accept comment "Accept DHCPv6 replies from IPv6 link-local addresses"

        log prefix "[nftables] Output Denied: " counter
    }


    # SETs
    set LANv4 {
        type ipv4_addr
        flags interval
        elements = {
            10.0.0.0/8,
            172.16.0.0/12,
            169.254.0.0/16,
            192.168.0.0/16,
        }
    }

    set LANv6 {
        type ipv6_addr
        flags interval
        elements = {
            fd00::/8,
            fe80::/10,
        }
    }

    set output_protocol_dport_authorized {
        type inet_proto . inet_service
        counter
        elements = {
            tcp . 22, # SSH
            tcp . 53, # DNS
            udp . 53, # DNS
            tcp . 80, # Web
            tcp . 443, # TLS
            udp . 443, # QUIC
            tcp . 465, # SMTPs
            tcp . 587, # SMTPs
            tcp . 993, # IMAPs
        }
    }
}


table ip filter {
    chain DOCKER-USER {
        meta mark set 42
    }
}
