# {{ ansible_managed }}
# Inpired by:
#   - https://wiki.nftables.org/wiki-nftables/index.php/Simple_ruleset_for_a_server
flush ruleset

table inet main {
    chain input {
        type filter hook input priority filter; policy drop
        ct state vmap { established : accept, related : accept, invalid : drop }
        iifname "lo" accept comment "Accept any localhost traffic"

        # Uncomment to enable logging of denied inbound traffic
        # log prefix "[nftables] Inbound Denied: " counter drop
    }

    chain forward {
        type filter hook forward priority security; policy drop
    }

    chain output {
        type filter hook output priority filter; policy drop
        oifname "lo" accept
        ip protocol . th dport vmap {
            tcp . 22 : accept,
            tcp . 53 : accept,
            udp . 53 : accept,
            tcp . 80 : accept,
            tcp . 443 : accept,
            udp . 443 : accept,
            tcp . 465 : accept,
            tcp . 993 : accept,
        }
        icmp type { echo-request } accept
    }
}
